*{
    /* сделаем так, чтобы мы в блоке управляли размерами не контента, а самого блока — это понадобится для звёзд */
  box-sizing: border-box;;
}
html, body{
  /* убираем границы и отступы */
  margin: 0;
  padding: 0;
  /* разворачиваем космос на всю ширину окна браузера */
  width: 100%;
  height: 100vh;
  /* не отображаем звёзды, которые вылетели за пределы окна*/
  /* overflow: hidden; */
}