/*--START-SETTING---*/

/*start-root*/

:root {
    --block: block;
    --flex: flex;
    --column: column;
    --cntr: center;
    --space-bt: space-between;
    --none: none;
    --white: #fff;
    --red: #FF4531;
    --drk-red: #A33327;
    --trans-red: #a333274d;
    --grey-bg: #9090904d;
    --grey: #909090;
    --dark: #121212;
}

/*end-root*/

/*start-fonts*/

@font-face {
    font-family: 'Fira Code';
    src:  url('../fonts/FiraCode-Regular.woff2') format('woff2'),
          url('../fonts/FiraCode-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 450;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src:  url('../fonts/Inter-Bold.woff2') format('woff2'),
          url('../fonts/Inter-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src:  url('../fonts/Inter-Light.woff2') format('woff2'),
          url('../fonts/Inter-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src:  url('../fonts/Inter-Regular.woff2') format('woff2'),
          url('../fonts/Inter-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src:  url('../fonts/Inter-SemiBold.woff2') format('woff2'),
          url('../fonts/Inter-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

/*end-fonts*/

/*start-defaut-class*/

::-webkit-scrollbar {
    display: var(--none);
}

body {
    /* background-color: var(--dark); */
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
}

h1 ,h2 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: var(--none);
    color: var(--white);
}

button {
    cursor: pointer;
    outline: var(--none);
    border: var(--none);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    background: transparent;
}

.container {
    position: absolute;
    padding-top: 5%;
    height: auto;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

.text-code {
    font-family: 'Fira Code';
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
}

.text-normal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--white);
}

.heading {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3.2em;
    line-height: 55px;
}

.heading-three {
    margin-top: 5px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5em;
    line-height: 35px;
    color: var(--white);
}

.mobile-pages {
    display: var(--none);
}

/*end-defaut-class*/

/*--END-SETTING---*/

@media screen and (max-width: 1024px) {
    .mobile-pages {
        display: block;
    }

    .desktop-pages {
        display: var(--none);
    }
}